<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configsections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configsections>-->
  <!--<log4net debug="false">
    <appender name="WindowsDebugOutput" type="log4net.Appender.DebugAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>
  </log4net>-->

  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK config -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="3" />
      <add name="clientId" value="" />
      <add name="clientSecret" value="" />
    </settings>
  </paypal>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CHAVE" value="1234567890OPTPROD890$%3@" />
    <!--<add key="PASTA_LOG_GLOBAL" value="D:\WebServices\autdoc\Log"/>-->
    <add key="PASTA_LOG_GLOBAL" value="C:\temp\log" />
    <add key="conintegracao" value="Data Source=200.98.64.201; User Id=integracao; Password=integra4321;" />
    <add key="CLIENTID_ML" value="" />
    <add key="CLIENTSECRET_ML" value="" />
    <!--tray-->
    <!--<add key="URL_TRAY" value="https://loja-s.tray.com.br/webservice/v2/ws_servidor.php"/>-->
    <add key="URL_TRAY" value="http://www..com.br/webservice/v2/ws_servidor.php" />
    <add key="LOJA_TRAY" value="" />
    <add key="USUARIO_TRAY" value="" />
    <add key="SENHA_TRAY" value="" />
    <!--Axado-->
    <add key="TOKEN_AXADO" value="" />
    <add key="AXADO_CEPORIGEM" value="38400700" />
    <add key="PERC_MAXIMO_VALOR_PRODUTO" value="80" />
    <add key="PERC_COMISSAO_PRODUTO" value="80" />
    <add key="URLNOTIFICATIONTRAY" value="https://parceiros..com.br/rest/traycheckout/notification?cp={0}#opttoken={1}" />
    <!--<add key="URLNOTIFICATIONTRAY" value="https://api1.optimuserp.com.br/traycheckout/notification?cp={0}#opttoken={1}" />-->
    <!--<add key="TOKENTRAYCHECKOUT" value="27348691e1ed0c1" />-->
    <add key="TOKENTRAYCHECKOUT" value="" />
    <add key="TRAYCHECKOUTPRODUCAO" value="false" />
    <add key="PATHARQUIVOS" value="E:\\_REPOSITORIO\\\\.Web.UI.Parceiros" />

  </appSettings>
  <connectionStrings>
    <add name="Ora" connectionString="Data Source=localhost; User Id=optbdcomum; Password=optbdcomum4321;" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
